@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pathway+Gothic+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----Page 1-------*/
/*-----Landing page-----*/

/*---Entire page style----*/
body {
    
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Pathway Gothic One', sans-serif;
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

/*----Head of landing page---*/
/*------Navigation Bar----*/

nav {
 position: fixed;
 top: 20px;
 right: 20px;
 display: flex !important;
 justify-content: flex-start;
}

/*----Nav links-----*/


.links {
   position: fixed;
   display: flex;
   top: 0;
   background-color: #000;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
   right: 0;
   flex-direction: column;
   width: 100%;
   transition:  all 1s ease;
}

nav a {
    color: #fafafa;
    text-decoration: none;
}

.menu {
   animation: right 1s ease-in; 
   z-index: 100;
   color: #fafafa;
   display: block;
}

/*-----Company Logo----*/

.logo {
    color: #fafafa;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
     animation: left 1s ease-in;
}
/*---End of head of Landing page---*/

/*---Center of landing page----*/

/*---Container including text and images---*/
/*----Main content----*/
.container {
    width: 95% !important;
    max-width: 1200px !important;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    color: #fafafa;
}
/*---Images at centre right of page---*/
.landing-imgs {
    object-fit: cover;
    display: block;
    height: 450px;
    width: 22%;
    animation: up 1s ease-in;
}

/*---Text at centre left of page ---*/
.landing-text {
    text-align: center;
    width: 50%;
} 
.landing-text h2 {
   font-size: 50px; 
   animation: left 1s ease-in;
}

.landing-text h4 {
   font-size: 30px; 
    animation: left 1s ease-in;
}

/*---Button---*/
.btn-pg2 {
   animation: up 1s ease-in; 
}

.landing-text a {
    display: inline-block;
    color: #fafafa;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fafafa;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding:  10px 0px;
}

/*---End of main content---*/

.wave {
    height: 100px;
    width: 100%;
background: #1e130c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*---Animations---*/

@keyframes right {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
100% {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes left {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
100% {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes up {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
100% {
    opacity: 1;
    transform: translateY(0);
}
}

/*---Used from Clippy- A css path maker --*/

/*---Start position at top right once menu btn is clicked---*/

.one {
    -webkit-clip-path: circle(0% at 100% 0);
    clip-path: circle(0% at 100% 0);
}
/*---End position at bottom left once menu btn is clicked---*/
.two {
    -webkit-clip-path: circle(150% at 100% 0);
    clip-path: circle(150% at 100% 0);
}
