@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pathway+Gothic+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----Page 1-------*/
/*-----Landing page-----*/

/*---Entire page style----*/
body {
    
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
}

header {
    font-family: 'Pathway Gothic One', sans-serif;
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

/*----Head of landing page---*/
/*------Navigation Bar----*/

nav {
 position: fixed;
 top: 20px;
 right: 20px;
 display: flex !important;
 justify-content: flex-start;
 z-index: 100000000;
}

.shoppingCartIcon {
    padding-right: 20px;
    color: #fafafa;
}

/*----Nav links-----*/


.links {
   position: fixed;
   display: flex;
   top: 0;
   background-color: #fafafa;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
   right: 0;
   flex-direction: column;
   width: 100%;
   transition:  all 1s ease;
   bottom: 0;
}

nav a {
    color: #000000;
    text-decoration: none;
}

.menu {
   animation: right 1s ease-in; 
   z-index: 100;
   color: #000;
   display: block;
}

.shoppingCartIcon {
    padding-right: 22px;
    color: #000;
    animation: right 1s ease-in;
    cursor: pointer; 
}

.shoppingCartIcon p {
    position: absolute;
    font-size: 0.7rem;
    background-color: #000;
    color: #fafafa;
    border-radius: 50%;
    padding: 5px 9px;
    top: -15px;
    left: 14px;
}


/*-----Company Logo----*/

.logo {
    color: #fafafa;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
     animation: left 1s ease-in;
     padding: 15px;
     text-align: left;
}
/*---End of head of Landing page---*/

/*---Center of landing page----*/

/*---Container including text and images---*/
/*----Main content----*/
.container {
    width: 100% !important;
    max-width: 1200px !important;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    color: #fafafa;
}
/*---Images at centre right of page---*/
.landing-imgs {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    animation: right 1s ease-in;
    height: 75vh;
}

.img-container {
overflow: hidden;    
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}
/*----Modal----*/
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1051111111;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.95);
    opacity: 0;
    pointer-events: none;
}

.modal-background.appear {
    opacity: 1;
    pointer-events: all;
}

.modalFullImage {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s ease-out;
}
.modalFullImage.appear {
    transform: translate(-50%, -50%) scale(1);
}

span.modalCaption {
    color: #fafafa;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    font-size: 2.5rem;
    text-align: center;
}



/*---Text at centre left of page ---*/
.landing-text {
    text-align: center;
    padding-right: 30px;
    width: 80%;
} 
.landing-text h2 {
   font-size: 40px; 
   animation: left 1s ease-in;
   font-family: 'Open Sans', sans-serif;
}

.landing-text h4 {
   font-size: 25px; 
    animation: left 1s ease-in;
    font-family: 'Open Sans', sans-serif;
}

/*---Button---*/
.btn-pg2 {
   animation: up 1s ease-in; 
}

.landing-text a {
    display: inline-block;
    color: #fafafa;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fafafa;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding:  10px 0px;
}

/*---End of main content---*/

.wave {
    height: 100px;
    width: 100%;
background: #1e130c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*---Animations---*/

@keyframes right {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
100% {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes left {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
100% {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes up {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }
100% {
    opacity: 1;
    transform: translateY(0);
}
}

/*---Used from Clippy- A css path maker --*/

/*---Start position at top right once menu btn is clicked---*/

.one {
    -webkit-clip-path: circle(0% at 100% 0);
    clip-path: circle(0% at 100% 0);
    


}
/*---End position at bottom left once menu btn is clicked---*/
.two {
    -webkit-clip-path: circle(150% at 100% 0);
    clip-path: circle(150% at 100% 0);
background: #fafafa;


}
/*---End of Landing Page---*/
/*---Page 1/Sofas.html----*/
.logo-normal {
    color: #462b2b;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
     animation: left 1s ease-in;
     padding-bottom: 20px;
     text-align: left;
}


.header-normal {
    font-family: 'Pathway Gothic One', sans-serif;
   background: #fafafa;
    height: auto;
    padding: 48px;
    width: 100%;
}

.row.row-cols-1.row-cols-md-2 {
    animation: right 1s ease-in;
}

.row {
    width: auto !important;
}

.wave-normal {
    height: 100px;
    width: 100%;
background: #fafafa;  
}
/*---Reviews---*/

.header-reviews {
    font-family: 'Pathway Gothic One', sans-serif;
    background: #fafafa;
    height: auto;
    padding: 0px;
    width: 100%;
}

.logo-reviews {
    color: #462b2b;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
     animation: left 1s ease-in;
     padding: 35px;
     text-align: left;
}


.container-reviews {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin: auto;
    background: url('../images/testa.jpg');
}

.slider-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.reviews {
   width: 100%;
   flex-shrink: 0; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: 100%;
   background: rgba(0, 0, 0, 0.3);
}

.review-name {
    color: #fafafa;
    text-align: center;
}

#review-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
}


.review {
    text-align: center;
    font-style: italic;
    color: #fafafa;
    font-size: 1.2rem;
}



/*----Shopping Cart----*/
.shoppingCart {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.95);
        z-index: 111111111;
         transition: 0.3s linear;
 transform: scale(0);
}

.shoppingCart.open {
    transform: scale(1);
}

.shoppingCart .basket {
 position: relative;
 height: 60%;
 width: 80%;
 background: #fafafa;
 display: flex;
 flex-direction: column;
 align-items: center; 
 overflow-y: scroll;
}

.shoppingCart .basket i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    color: #462b2b;
    cursor: pointer;
}

.shoppingCart .basket h1 {
  position: relative;
  margin-top: 5%;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #462b2b;
}
/*---Shopping Cart table ---*/
table {
    width: 100%;
}

th {
    text-align: center;
    justify-content: center;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

button.btn.btn-danger {
    background-color: #462b2b;
    border-color: #462b2b;
}


/*---Footer----*/
.row {
    width:100%;
}

footer {
    background-color: #131212;
    font-family: 'Open Sans', sans-serif;
}

.quick-links {
    display: grid;
     animation: up 1s ease-in; 
}
div.col-sm.quick-links a{
    color: #fafafa;
}

.col-sm.about-us {
    text-align: center;
    animation: up 1s ease-in; 
}

.social-media {
    font-weight: 400;
    font-size: 20px;
    border: 1px solid #fafafa;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px !important;
    border-radius: 50%;
    margin: 10px 5px;
}

.contact-details {
     animation: up 1s ease-in; 
}


/*---Media queries----*/

/*----1200px to 1024px----*/
@media screen and (max-width:1024px){
    .slides {
        height: 400px;
    }
}
/*----1024px to 900px----*/

@media screen and (max-width:900px){
    .landing-text h2 {
        font-size: 30px;
    }
    .landing-text h4 {
        font-size: 22px;
    }
    .logo {
        font-size: 30px;
    }
}

/*---900px to 768px----*/
@media screen and (max-width:768px){
    .slides {
        height: 350px;
    }
}
@media screen and (max-width:700px){
    .modalFullImage {
        height: auto;
        width: 100%;
    }
    .modalCaption {
        font-size: 1.5rem;
    }
}


/*----480px-----*/
@media screen and (max-width:480px){
    .container {
        width: 100;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .slider-container {
        width: 100%;
    }
    .landing-text {
     padding-top: 20px;
     width: 100%;
     padding-right: 0px;
}
   .modalCaption {
       font-size: 1rem;
   }
}



