@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pathway+Gothic+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Pathway Gothic One', sans-serif;
background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

nav {
 position: fixed;
 top: 20px;
 right: 20px;
}

nav a {
  color: #fafafa;   
 text-decoration: none;  
 display: inline-block;
 
}

.logo {
    color: #fafafa;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
}

.container {
    width: 95% !important;
    max-width: 1200px !important;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    color: #fafafa;
}

.img1 {
    object-fit: cover;
    display: block;
    height: 450px;
    width: 30%;
}
.landing-text {
    text-align: center;
    width: 50%;
} 
.landing-text h2 {
   font-size: 70px; 
}

.landing-text h2 {
   font-size: 50px; 
}

.landing-text a {
    display: inline-block;
    color: #fafafa;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fafafa;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding:  10px 0px;
}

.wave {
    height: 100px;
    width: 100%;
    background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
